<footer class="footer">
  <div class="container">
    <nav class="footer__nav nav">
      <a class="nav__item" href="#">{{{icon "star" class="icon"}}}О нас</a>
      <a class="nav__item" href="#">{{{icon "library" class="icon"}}}Статьи</a>
    </nav>
    <div class="footer__copyright">
      {{{icon "copyright" class="icon"}}}
      <h5>Каменный век (2020)</h5>
    </div>
    <nav class="footer__nav nav">
      <a class="nav__item" href="#">{{{icon "images" class="icon"}}}Галерея</a>
      <a class="nav__item" href="#">{{{icon "map" class="icon"}}}Адреса</a>
    </nav>
  </div>
</footer>
